.footer {
    background: var(--primary-color);
}

.footer .footer-link {
    font-size: 1rem;
    color: var(--white-color);
    padding: 0 1.875rem;
}

.footer .footer-link:hover {
    color: var(--white-color) !important;
}

.footer a{
    text-decoration: none;
}

.footer a i {
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0 1rem;
}


@media (max-width : 440px) {
    .footer .footer-link,
    .footer a i{
        padding: 0 0.7rem;
    }
  }